@{
  Layout = "_Layout";
}

@model PublicLibrary.Models.Book

<h2>Edit</h2>

<h4>Edit this item: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>